
.nav_bar{
  width: 25%;
  height: 100dvh;
  float: left;
  background-color: #888;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
}
.mainl{
  width: 65%;
  height: 100%;
  float: right;
}
.main_logo{
  width: 70%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%;
  
}
.options_text{
  font-size: 2rem;
  color: aliceblue;
}
.logoOptions{
  width: 100%;
}
.logoleftSideoptions{
  width: 30%;
}
.options{
  width: 40%;
  margin: 10%;
  border-radius: 12%;
  right: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  
  
}
body{
  margin: 0px;
}